    <footer class="bg-dark text-light py-5 mt-5">
      <div class="container-fluid">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6">
            <h5 class="mb-3">
              <i class="fas fa-gem me-2"></i>
              BeautyStore
            </h5>
            <p class="mb-3">
              Your trusted destination for premium beauty products. 
              We curate the finest cosmetics, skincare, and beauty tools 
              from around the world.
            </p>
            <div class="d-flex gap-3">
              <a href="#" class="text-light">
                <i class="fab fa-facebook-f fa-lg"></i>
              </a>
              <a href="#" class="text-light">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
              <a href="#" class="text-light">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
              <a href="#" class="text-light">
                <i class="fab fa-youtube fa-lg"></i>
              </a>
            </div>
          </div>
          
          <div class="col-lg-2 col-md-6">
            <h6 class="mb-3">Quick Links</h6>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Home</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Products</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Categories</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Brands</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Sale</a></li>
            </ul>
          </div>
          
          <div class="col-lg-2 col-md-6">
            <h6 class="mb-3">Customer Care</h6>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Shipping Info</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Returns</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Size Guide</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">FAQ</a></li>
            </ul>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <h6 class="mb-3">Newsletter</h6>
            <p class="mb-3">Subscribe to get updates on new products and exclusive offers.</p>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Enter your email">
              <button class="btn btn-primary" type="button">
                Subscribe
              </button>
            </div>
            <div class="d-flex gap-3 mt-4">
              <img width="10%" [src]="'https://upload.wikimedia.org/wikipedia/commons/b/b7/MasterCard_Logo.svg'" alt="MC" class="img-fluid">
              <img width="10%" [src]="'https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0035/2540/Platinum_American_Express_requisitos_y_beneficios.png?1569497531'" alt="MC" class="img-fluid">
              <img src="https://via.placeholder.com/50x30/009cde/ffffff?text=AMEX" alt="American Express" class="img-fluid">
              <img src="https://via.placeholder.com/50x30/0070ba/ffffff?text=PP" alt="PayPal" class="img-fluid">
            </div>
          </div>
        </div>
        
        <hr class="my-4">
        
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">&copy; 2025 BeautyStore. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-md-end">
            <a href="#" class="text-light text-decoration-none me-3">Privacy Policy</a>
            <a href="#" class="text-light text-decoration-none me-3">Terms of Service</a>
            <a href="#" class="text-light text-decoration-none">Cookie Policy</a>
          </div>
        </div>
      </div>
    </footer>
